# R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Project data inputs and ouputs
data/
outputs/

# Notebooks in .html, .md, or recycled
notebooks/*.html
notebooks/*.md
notebooks/_recycle_bin/

# renv project files
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# targets project files
_targets/